body {
    width: 100vw;
}

header {
    background: rgb(102,133,203);
    background: linear-gradient(90deg, rgba(102,133,203,1) 0%, rgba(25,17,139,1) 100%);
}

h1 {
    padding: 40px;
    color: white;
}

